<h1>Welcome to My Rails Store!</h1>
<p>This app was built using
  <a target="_blank"
    rel="noopener noreferrer"
    href="http://rubyonrails.org/">
    Ruby on Rails</a>, a Ruby web & MVC framework. Thank you for trying my app!
</p>
<p>Please visit
  <a target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jffernan/my-rails-store">
    GitHub
  </a>
   to view my code.
</p>
<br/>
